# Entornos virtuales
venv/
env/

# Archivos de caché y compilados
*.pyc
__pycache__/

# Configuración específica de IDEs
.idea/
.vscode/
*.swp

# Bases de datos locales
db.sqlite3

# Archivos de configuración sensibles
.env

# Archivos de logs
*.log